<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--将下面的<meta> 标签加入到页面中，可以让部分国产浏览器默认采用高速模式渲染页面-->
    <meta name="renderer" content="webkit" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>k线图</title>
    <meta name="keywords" content="k线图"/>
    <meta name="description" content=""/>
    <!--favicon-->
    <link rel="icon" href="../../images/favicon-WillSo.ico" type="image/x-icon" />
    <!-- <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon" /> -->
    <!--如果想收藏书签也有Favicon.ico图标，在上面那段代码下面加入-->
    <!-- <link rel="Bookmark" href="/images/favicon.ico" type="image/x-icon" /> -->

    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.5-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../plugins/bootstrap-3.3.5-dist/css/bootstrap-theme.css"/>
</head>
<style>
	td {
		width:60px;
		text-align: center;
	}
</style>
<body>
	<button type="button" class="btn btn-default" id="go-back" onclick="javascript:history.go(-1);">返回</button>
<!-- 	<div id="choose" style="width:1000px;margin-top:10px;"> -->
<!-- 		输入股票代码:<input type="text" class="stockcode-textfield" name="stockcode"/> -->
<!-- 		<button type="button" class="btn default-btn choose-stockcode-btn">查询</button> -->
<!-- 	</div> -->
	<h2 style="display:table;margin-left:auto;margin-right:auto;margin-top:50px;">
		<span class="stock-code" style="font: bold;"></span>
		<span class="stock-name" style="font: bold; margin-left:10px;"></span>
		<span class="chart-type" style="font: bold; margin-left:10px;"></span>
	</h2>
	
	<div style="margin-left:auto;margin-right:auto;">
		
		<ul class="nav nav-pills">
		  <li role="presentation" class="active"><a href="" class="kLine-type" data-flag="1440">日k</a></li>
		  <li role="presentation"><a href="" class="kLine-type" data-flag="1">1分钟</a></li>
		  <li role="presentation"><a href="" class="kLine-type" data-flag="3">3分钟</a></li>
		  <li role="presentation"><a href="" class="kLine-type" data-flag="5">5分钟</a></li>
		  <li role="presentation"><a href="" class="kLine-type" data-flag="10">10分钟</a></li>
		  <li role="presentation"><a href="" class="kLine-type" data-flag="30">30分钟</a></li>
		  <li role="presentation"><a href="" class="kLine-type" data-flag="60">60分钟</a></li>
		</ul>
	
	    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
	    <span id="main" style="width:800px;height:600px;margin-left:150px;float: left;"></span>
	    
	    <div style="width:500px;margin-top:50px;float: right;">
	    	<table border="1">
	    		<tr>
	    			<td colspan="3">行情报价</td>
	    		</tr>
	    		<tr id="sell5">
	    			<td>卖五</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="sell4">
	    			<td>卖四</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="sell3">
	    			<td>卖三</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="sell2">
	    			<td>卖二</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="sell1">
	    			<td>卖一</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr>
	    			<td colspan="3">-------</td>
	    		</tr>
	    		<tr id="buy1">
	    			<td>买一</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="buy2">
	    			<td>买二</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="buy3">
	    			<td>买三</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="buy4">
	    			<td>买四</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr id="buy5">
	    			<td>买五</td>
	    			<td></td>
	    			<td></td>
	    		</tr>
	    		<tr>
	    			<td colspan="3">-------</td>
	    		</tr>
	    		<tr id="now">
	    			<td>最新</td>
	    			<td colspan="2"></td>
	    		</tr>
	    		<tr id="percent">
	    			<td>涨跌幅</td>
	    			<td colspan="2"></td>
	    		</tr>
	    		<tr id="turnover">
	    			<td>总手</td>
	    			<td colspan="2"></td>
	    		</tr>
	    		<tr id="volume">
	    			<td>金额</td>
	    			<td colspan="2"></td>
	    		</tr>
	    		<tr id="high">
	    			<td>最高</td>
	    			<td colspan="2"></td>
	    		</tr>
	    		<tr id="low">
	    			<td>最低</td>
	    			<td colspan="2"></td>
	    		</tr>
	    		<tr id="open">
	    			<td>今开</td>
	    			<td colspan="2"></td>
	    		</tr>
	    		<tr id="close">
	    			<td>昨收</td>
	    			<td colspan="2"></td>
	    		</tr>
	    	</table>
	    </div>
    </div>
    
    <script src="../../plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="../../plugins/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../plugins/chart/echarts.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../js/chart/genChart.js"></script>
    <script src="../../js/chart/chart.js"></script>
    <script src="../../js/chart/socket.js"></script>
</body>
</html>